<div id="topbar">
	<div id="open"></div>
	<div id="panelbar">
		<div id="close"></div>
	</div>
	<div id="mapbar">
		<span class="util">Neighborhoods <input type="checkbox" name="neighborhood" value="on" checked="checked"/></span>
	</div>
</div>
<div id="panel">

</div>
<div id="map_canvas"></div>

<%= render :partial => "js/neighborhood_data" %>
