<div id="topbar">
	<div id="open"></div>
	<div id="panelbar">
		<div id="close"></div>
	</div>
	<div id="mapbar"></div>
</div>
<div id="panel">

</div>
<div id="map_canvas" style="min-width:738px;min-height:425px;"></div>

<%= render :partial => "js/neighborhood_data" %>
