<div>
<img src="images/blank_avatar_male.jpg" style="float:right; width:100px"/>
<h1><%= @user.username%></h1>
<p><%= @user.address.street_address%></p>
</div>
<br style="clear:both;"/>
<br />
<span style="font-size:.8em"><strong>Gardentrader since: </strong><%= @user.created_at.nifty_time_format %></span>
<div id="my_garden" class="tile">
	<h3>Recent Items</h3>
	<img src="images/food_icons/blueberries.png" class="smallIcon">Blue Berries (4/23)<br/>
	<img src="images/food_icons/arugula.png" class="smallIcon">Arugula (3/05)<br/>
</div>

