<div class="crop_tease_picture" style='width:45px; height:45px; float:left; border:solid 1px gray'></div>
<span style="float:left; margin-left:15px"><%= crop.food_type.name %></span>
	<% if crop.harvest_date %><span class="label">Estimated Harvest: </span> <%=  crop.harvest_date %><br /><% end %>
<br/>
