* {
font-family:Arial, Helvetica, sans-serif;
position:relative;
margin:0;
padding:0;
}

html {
background-color:#50a158;
}

input {
	font-size:1em;
}

html,body {
height:100%;
}

body {
background-repeat:repeat-y;
}

h1 {
font-size:1.3em;
}

h2,h3 {
font-size:1.1em;
}

p {
	margin:0;
	padding:0;
}

#subHeader {
font-weight:800;
color:#ffde00;
}

span#subSubheader {
font-weight:500;
color:#FFF;
}

#frame {
width:100%;
min-width:990px;
background:#50a158;
z-index:200;
}

#frame > div.hd {
height:45px;
background-color:#11551c;
color:#FFF;
padding:.35em 1em;
}

#user_nav {
	position:absolute;
	right:10px;
	top:10px;
	font-size:12px;
}
#user_nav a {
	color:yellow;
}

#mat {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
position:relative;
background-color:#8dcf8d;
height:100%;
margin:0 12px 12px;
padding:12px 12px 12px;
}

#mat,#navbar a {
-moz-box-shadow:3px 3px 7px #666;
-webkit-box-shadow:5px 5px 6px #464646;
box-shadow:3px 3px 7px #666;
}

#content,#utilBar a {
-moz-box-shadow:3px 3px 7px #666;
-webkit-box-shadow:2px 2px 5px #666;
box-shadow:3px 3px 7px #666;
}

#breadcrumb {
color:#4a4a4a;
float:left;
bottom:5px;
left:6px;
font-size:.8em;
font-style:italic;
}

#breadcrumb strong {
font-size:1.1em;
font-weight:800;
color:#1a3e75;
}

#utilBar {
text-align:right;
width:100%;
}

#content {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background-color:white;
}

#content > div.hd {
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
border-radius-topright:5px;
background-color:#299c23;
color:#FFF;
padding:7px 7px 5px;
height:20px;
}

#content > div.bd {
padding:0;
line-height:1.5em;
min-height:450px;
min-width:943px;
}

#content > div.ft {
text-align:right;
}

#navbar {
height:35px;
padding:15px 0 0;
}

#navbar a {
	color:black;
	text-decoration: none;
}
#navbar ul,#utilBar ul {
list-style-type:none;
margin:0 20px;
}

#navbar ul li,#utilBar ul li {
display:inline;
}

#navbar a,#utilBar a {
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
border-radius-topright:5px;
float:left;
display:table-cell;
height:32px;
font-size:.9em;
width:110px;
max-width:110px;
text-align:center;
background-color:#dcdcdc;
line-height:1.1em;
margin:0 2px;
padding:2px;
}

#navbar a.dropdown {
width:10px;
max-width:10px;
}

#navbar a.active {
background-color:#8dcf8d;
}

#utilBar a.active {
background-color:#299c23;
color:#FFF;
}

#utilBar a {
width:55px;
float:right;
}

#utilTab {
-moz-box-shadow:4px 4px 10px #666;
-webkit-box-shadow:4px 4px 10px #666;
box-shadow:4px 4px 10px #666;
text-align:right;
padding-right:4px;
z-index:100;
width:40px;
height:180px;
background-color:#FFF;
position:absolute;
top:45px;
left:815px;
}

#content p {
margin-bottom:.75em;
}

#content > div.bd h2 {
}

#content ul {
margin-left:40px;
}

#notice {
	padding:10px;
	-moz-box-shadow:4px 4px 10px #666;
	-webkit-box-shadow:4px 4px 10px #666;
	box-shadow:4px 4px 10px #666;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;	
	z-index:1002;
	position:absolute;
	top:30px;
	right:10px;
	padding:14px;
	background:pink;
	border:1px solid red;
	min-width:250px;
	min-height:75px;
}

#topbar {
	height:25px;
	width:100%;
	z-index:999;
}
#topbar #panelbar {
	background-color:#e8ecf9;
	position:absolute;
	width:300px;
	height:25px;
	z-index:1000;
}
#topbar #mapbar {
	-moz-box-shadow:1px 2px 2px #666;
	-webkit-box-shadow:1px 2px 2px #666;
	background-color:#d5ddf3;
	position:absolute;
	width:100%;
	height:25px;
	min-width:943px;
}

#panel {
	-moz-box-shadow:2px 1px 2px #666;
	-webkit-box-shadow:2px 1px 2px #666;
	width:300px;
	position:absolute;
	z-index:1000;
	background-color:white;
	min-height:425px;
}
#close, #open {
	position:absolute;
		top:5px;
		left:285px;
	width:15px;
	height:17px;
	background-image: url("/images/close.png");
	z-index:1001;
	cursor:pointer;
}
#open {
	left:0px;
	z-index:998;
	background-image: url("/images/open.png");
}

#map_canvas {
	min-width:943px;
	min-height:425px;
}

#mainImage{
	height:200px;
	width:200px;
}
#mainImage.garden{
	background-image: url("/images/garden.png	");
}

#mapbar .util {
	color:gray;
	float:right;
	font-size:.8em;
	padding:1px 3px;
}
#loader {
	position:absolute;
	top:100px;
	left:45%;
}
#standardSize {
	margin:0;
	width:923px;
	margin:0px auto;
	padding:20px 10px;
}
.offsetImage{
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-moz-box-shadow:2px 2px 4px #666;
	-webkit-box-shadow:2px 2px 4px #464646;
	box-shadow:3px 3px 7px #666;
}
.smallShadow {
		-moz-box-shadow:1px 1px 2px #666;
		-webkit-box-shadow:1px 1px 2px #464646;
		box-shadow:3px 3px 7px #666;
}

.tile {
	width:275px;
	margin-top:1em;
	font-size:.8em;
}
#content > div.bd .tile > h2 {
	padding:0em .25em;
	background-color: #d5edd5;
	font-size:1.1em;
	margin:0 0 .5em;
}
.smallIcon{
	width:30px;
	height:30px;
	margin-bottom:-10px;
	margin-right:4px;
}
.smallFollowerIcon {
	width:30px;
	margin:1px 2px;
}
.avatarSmall{
	clear:both;
	float:left;
	margin-right:5px;
}
.clear {
	clear:both;
	padding:0;
	margin:0;
}
.comment {
	line-height:1.8em;
}
#updateAvatar {
	margin:0px;
	display:none;
	position:absolute;
	top:2px;
	left:2px;
	border:1px solid gray;
	height:20px;
	background-color:white;
	padding:3px;
}
#avatar {
	width:180px;
	height:auto;
	margin:10px 0px;
}
.badge {
	height:40px;
	width:40px;
}
.dateMonth {
	color:white;
	font-size:7pt;
	top:-5px;
	left:7px;
	position:absolute;
	z-index:100;
}
.dateNumber {
	top:8px;
	left:7px;
	position:absolute;
	z-index:100;
}
.badge-icon {
	margin-right:5px;
	float:left;
	width:40px;
	height:40px;
	background-image:url(/images/badge_icons.png);
}
.badge-icon.cup {background-position:-40px -40px;}
.badge-icon.star {background-position:0px 0px;}
.badge-icon.road_sign {background-position:-40px 0px;}
.badge-icon.ribbon {background-position:0px -40px;}
.food-icon-small {
	margin-right:5px;
	float:left;
	width:30px;
	height:30px;
	background-image:url(/images/food_icons.png);
}
.food-description { float:left;}
.food-icon-small.thyme {background-position:0px 0px;}
.food-icon-small.bluberries {background-position:-60px 0px;}
.food-icon-small.lemons {background-position:-30px 0px;}
.food-icon-small.arugula {background-position:-90px 0px;}
.food-icon-small.carrots {background-position:0px -30px;}

.picPreview { margin-left:35px; }
.picPreview img {
	margin-right:10px;
}