

<div id="standardSize">
	<img src="images/garden.png" />


	<div id="my_items" class="tile" style="width:540px">
		<h2>Currently Growing</h2>
		<div class="food-icon-small carrots"></div><div class="food-description">Carrots</div><br class="clear" />
		<div class="food-icon-small bluberries"></div><div class="food-description">Blue Berries</div><br class="clear" />		
	</div>
	<div id="my_items" class="tile" style="width:540px">
		<h2>Past Items</h2>
	</div>


<div id="contentColThree" style="position:absolute; margin-left:60%; top:0">
	<div id="my_updates" class="tile">
		<h2>Updates</h2>
		<div id="dateIcon">
			<span class="dateMonth">Jun</span>
			<span class="dateNumber">10</span>
			<img src="images/cal2.png" class="smallIcon">Added new photos to blueberries<br/>			
		</div>
		<div class="picPreview">
			<img src="images/photos/blueberries1.png"><img src="images/photos/blueberries2.png"><img src="images/photos/blueberries3.png">	
		</div>
		
		<div id="dateIcon">
			<span class="dateMonth">Jun</span>
			<span class="dateNumber">07</span>
			<img src="images/cal2.png" class="smallIcon">Traded Arugula<br/>			
		</div>
		<p style="margin-left:35px">Traded Arugula to Mike123.</p>
		<div id="dateIcon">
			<span class="dateMonth">May</span>
			<span class="dateNumber">23</span>
			<img src="images/cal2.png" class="smallIcon">Harvested Tomatoes<br/>			
		</div>
		<p style="margin-left:35px">Fourth tomato harvest since joining. Twelfth harvest overall.</p>
		<div id="dateIcon">
			<span class="dateMonth">May</span>
			<span class="dateNumber">03</span>
			<img src="images/cal2.png" class="smallIcon">Added new photos to tomatoes<br/>		
			<div class="picPreview">
				<img src="images/photos/tomatoes1.png"><img src="images/photos/tomatoes2.png"><img src="images/photos/tomatoes3.png">	
			</div>
		</div>
		
	</div>
</div>
</div>

<script type="text/javascript" charset="utf-8">
	var setMapSize = function () {
		var bodyHeight = $('body').height();
		$('#content .bd').height( bodyHeight - 174).width( ($('body').width() - 57) )	
	}
	$(window).resize(function() {
		setMapSize();
	});
	setMapSize();
	
</script>
