
<div id="standardSize">
	<h2>Leo Herrick</h2>
		<div id="avatar">
			<img src="images/blank_avatar_male.jpg" class="offsetImage"/>
			<button type="button" id="updateAvatar">update</button>
		</div>	
		
		<div id="my_badges">
			<div class="badge-icon cup"></div>
			<div class="badge-icon star"></div>
			<div class="badge-icon road_sign"></div>
			<div class="badge-icon ribbon"></div>
			<br class="clear" />
		</div>
		<div id="my_stats">
			<strong>Member Since: </strong>6/2/2010<br />
			<strong>Total Items: </strong>13<br />
			<strong>Trades: </strong>n/a<br />
			
		</div>


<div id="contentColTwo" style="position:absolute; margin-left:25%; top:0">
	<div id="my_followers" class="tile">
		<h2>Followers</h2>
		<a href="#" style="position:absolute; right:1px">more >></a>
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon"><br />
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
		<img src="images/blank_avatar_male.jpg" class="smallFollowerIcon">
	</div>
	
	<div id="my_garden" class="tile">
		<h2>Recent Garden Items</h2>
		<a href="#" style="position:absolute; right:1px">more >></a>
		<div class="food-icon-small bluberries"></div><div class="food-description">Blue Berries  - 4/23</div><br class="clear" />
		<div class="food-icon-small arugula"></div><div class="food-description">Arugula  - 4/23</div><br class="clear" />
		<div class="food-icon-small thyme"></div><div class="food-description">Thyme  - 4/23</div><br class="clear" />
		<div class="food-icon-small lemons"></div><div class="food-description">Lemons  - 4/23</div><br class="clear" />
	</div>


</div>

<div id="contentColThree" style="position:absolute; margin-left:60%; top:0">
	<div id="my_updates" class="tile">
		<h2>Updates</h2>
		<div id="dateIcon">
			<span class="dateNumber">10</span>
			<img src="images/cal.png" class="smallIcon">Added new photos to blueberries<br/>			
		</div>
		<div id="dateIcon">
			<span class="dateNumber">07</span>
			<img src="images/cal.png" class="smallIcon">Traded Arugula<br/>			
		</div>
		
	</div>
	<div id="my_wall" class="tile">
		<h2>Wall</h2>
		<div class="avatarSmall"><img src="images/blank_avatar_male.jpg" class="smallFollowerIcon" /></div>	
		<p class="comment"><strong>Jane Says:</strong>Those blue berries look amazing. Keep up the good work.</p>
		<div class="avatarSmall"><img src="images/blank_avatar_male.jpg" class="smallFollowerIcon" /></div>	
		<p classstrong="comment"><strong>The Carrot Wizard Says:</strong>Yo, thanks for the arugula the other day. Freshness like that can't be found at the supermarket</p>
		
	</div>
</div>
</div>

<script type="text/javascript" charset="utf-8">
	var setMapSize = function () {
		var bodyHeight = $('body').height();
		$('#content .bd').height( bodyHeight - 174).width( ($('body').width() - 57) )	
	}
	$(window).resize(function() {
		setMapSize();
	});
	setMapSize();
	$('.smallFollowerIcon').each(function(){
		var rotation = Math.ceil(Math.random()*7)-4
		$(this).addClass('smallShadow').css("-webkit-transform", "rotate("+rotation+"deg)")
	})
	$('#avatar').mouseover(function(){
		$('#updateAvatar').show();
	})
	$('#avatar').mouseout(function(){
		$('#updateAvatar').hide();
	})
	$('#updateAvatar').mouseover(function(){
		$(this).css("background-color", "gray").css("cursor", "pointer")
	})
	$('#updateAvatar').mouseout(function(){
		$(this).css("background-color", "white")
	})
	
</script>
